@model BookMark.Client.Models.EventViewModel

@if (@ModelBinderAttribute != null)
{
  <h1>@Model.Name</h1>

  <p>Event Name: @Model.Name</p>

  <p>Event Date and Time: @Model.DateTime</p>

  <p>Event Location: @Model.Location</p>
  
  <p>Event Information: @Model.Info</p>

  if@(@Model.UserEvents != null)
  {
    <p>RSVPs: @Model.UserEvents.Count()</p>
  }
}
else
{
  <p>Error</p>
}

<a href="/organization/index">Back</a>