@model BookMark.Client.Models.EventViewModel

@if (@Model != null)
{
  <h1>Confirmation: RSVP Confimred!</h1>

  <p>Event Name: @Model.Name</p>

  @* @if(@Model.Organization != null)
  {
    <p>Event Organizer: @Model.Organization.Name</p>
  } *@

  <p>Event Date and Time: @Model.DateTime</p>

  <p>Event Location: @Model.Location</p>
  
  <p>Event Information: @Model.Info</p>
}
else
{
  <p>Error</p>
}
<br/><br/>
<a href="/user/index">Done</a>